<div id="reports" class="row">
  <div class="col-md-6 m-auto">
    <div class="d-flex justify-content-between">
      <div>
        <%= link_to 'add more v1 (the correct way)', randoms_path(version: '1'), class: 'd-block' %>
        <%= link_to 'add more v2 (the sql locking way)', randoms_path(version: '2'), class: 'd-block' %>
        <%= link_to 'add more v3 (the unreliable way)', randoms_path(version: '3'), class: 'd-block' %>
      </div>
      <%= link_to 'Reset', resets_path , class: 'btn btn-link m-0 p-0'  %>
    </div>
    <br>

    <table class="table table-bordered">
      <tr>
        <th colspan="2" class="text-center">Reports</th>
      </tr>
      <tr>
        <th>Cash balance</th>
        <td class="text-end"><%= to_idr Account.cash.balance.abs %></td>
      </tr>
      <tr>
        <th>Reconciled?</th>
        <% if Sidekiq::Queue.new.size > 0 %>
          <td id="reconcile" class="text-end">In progress, job size=<%= Sidekiq::Queue.new.size %></td>
        <% else %>
          <td id='reconcile' class="text-end"><%= Account.publics.sum(:balance).abs == Account.cash.balance.abs ? 'Ok' : 'No' %></td>
        <% end %>
      </tr>
      <tr>
        <th>Is there any money lost?</th>
        <% if Sidekiq::Queue.new.size > 0 %>
          <td id="reconcile" class="text-end">In progress, job size=<%= Sidekiq::Queue.new.size %></td>
        <% else %>
          <td id='money_lost' class="text-end"><%= Account.publics.sum(&:balance).abs % 100499500 == 0 ? 'No' : 'Yes' %></td>
        <% end %>
      </tr>
    </table>

    <% if Sidekiq::Queue.new.size > 0 %>
      <p>Account updates still in progress</p>
    <% else %>
      <table class="table my-4">
        <thead>
          <tr>
            <th>Accounts</th>
            <th class="text-end">Balance</th>
          </tr>
        </thead>
        <tbody>
          <% Account.publics.each do |account| %>
            <tr>
              <td><%= account.name %></td>
              <td class="text-end"><%= to_idr account.balance.abs %></td>
            </tr>
          <% end %>
          <tr>
            <td><span class="fw-bold">Total</span></td>
            <td class="text-end"><%= to_idr Account.publics.sum(&:balance).abs %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>