<div class="row">
  <div class="col-md-6 m-auto">
    <table class="table ta">
      <thead>
        <tr>
          <th>Accounts</th>
          <th class="text-end">Balance</th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account.name %></td>
            <td class="text-end"><%= to_idr account.balance.abs %></td>
          </tr>
        <% end %>
        <tr>
          <td><span class="fw-bold">Total</span></td>
          <td class="text-end"><%= to_idr @accounts.sum(&:balance).abs %></td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <tr>
        <th colspan="2" class="text-center">Reports</th>
      </tr>
      <tr>
        <th>Cash balance</th>
        <td class="text-end"><%= to_idr Account.cash.balance.abs %></td>
      </tr>
      <tr>
        <th>Reconciled?</th>
        <td class="text-end"><%= @accounts.sum(&:balance).abs == Account.cash.balance.abs ? 'Ok' : 'No' %></td>
      </tr>
    </table>

    <hr>

    <%= link_to 'Add more 1000 concurrents deposits', '#', class: 'btn btn-link m-0 p-0'  %>
  </div>
</div>