<%= turbo_stream_from "deposit" %>

<div class="d-flex justify-content-between">
  <div>
    <%= link_to 'add more v1 (the correct way)', randoms_path(version: '1'), class: 'd-block' %>
    <%= link_to 'add more v2 (the sql locking way)', randoms_path(version: '2'), class: 'd-block' %>
    <%= link_to 'add more v3 (like v2 but without locking)', randoms_path(version: '3'), class: 'd-block' %>
  </div>
  <%= link_to 'Reset', resets_path , class: 'btn btn-link m-0 p-0'  %>
</div>
<br>

<%= render 'reports', accounts: @accounts %>

<%= render 'accounts', accounts: @accounts %>